.floating-input {
    position: relative;
    margin-bottom: 25px;
}

.floating-input Input {
    width: 100%;
    height: 55px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    outline: none;
    background: white;
}

.floating-input Label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 18px;
    pointer-events: none;
    background: white;
    padding: 0 5px;
    transition: all 0.2s ease;
}

/* when input gets focus */
.floating-input Input:focus+Label,

/* when input contains a value */
.floating-input Input:not(:placeholder-shown)+Label {
    top: 0;
    transform: translateY(-50%);
    font-size: 14px;
    color: #4285f4;
}

/* Border on focus */
.floating-input Input:focus {
    border: 2px solid #9ec5fe;
}